
.myinfo{
    background-color: cadetblue;
    border: 1px solid darkgray;
}
#studies{
    background-color: aqua;
    border: 1px solid sandybrown;
}
.accomplishments{
    background-color: chocolate;
    border: 1px solid royalblue;
}
